@font-face {
  font-family: "PoppinsBold";
  src: url("../assets/fonts/Poppins-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../assets/fonts/Poppins-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../assets/fonts/Poppins-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../assets/fonts/Poppins-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PoppinsRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.btn {
  display: inline-block;
  padding: 38px 65px;
  font-family: "PoppinsMedium";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #3a4574;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color:darkblue;
  color: #808080
}

.container {
  max-width: 1920px;
  padding: 0 375px;
  padding-right: 360px;
  margin: 0 auto;
}

.header {
  background-image: url("../assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 57px;
}

.header__logo {
  margin-right: 133px;
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__logo-img {
  width: 270px;
  height: 55px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__item {
  margin-right: 45px;
}

.nav__link {
  display: block;
  font-family: "PoppinsRegular";
  line-height: 24px;
  color: #ffffff;
}

.nav__link.nav__link--medium {
  font-family: "PoppinsMedium";
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: #D3B47F;
}

.header__tel {
  position: relative;
  display: block;
  margin-left: auto;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
}

.header__tel:hover {
  color: #D3B47F;
}

.header__tel::after {
  position: absolute;
  content: "";
  left: -33px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/call-calling.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 155px;
  padding-bottom: 265px;
  background-image: url("../assets/img/hero-bg.jpg");
  background-position: center -109px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__open {
  margin-bottom: 22px;
  font-family: "PoppinsMedium";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__title {
  margin-bottom: 40px;
  font-family: "PoppinsBold";
  font-size: 64px;
  line-height: 88px;
  color: #ffffff;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 25px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  color: #ffffff
}

.social__item:hover {
  background-color: #3a4574;
  border-color: #3A4574;
}

.menu {
  padding-top: 80px;
  padding-bottom: 156px;
  background-color: #ffffff;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: -30px;
}

.menu__list {
  margin-right: 125px;
}

.menu__item {
  margin-bottom: 40px;
}

.menu__item-data {
  margin-bottom: 9px;
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.menu__item-desc {
  margin-right: 9px;
  font-size: 18px;
  color: #000000;
}

.menu__item-dots {
  display: inline-block;
  margin-right: 39px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #D3B47F;
  box-shadow: 15px 0 0 0 #D3B47F,
  34px 0 0 #D3B47F;
}

.menu__images {
  position: relative;
  width: 475px;
  height: 505px;
  margin-top: 30px;
  border: 2px solid #D3B47F
}

.menu__img {
  position: absolute;
  width: 323px;
  height: 486px;
}

.menu__img:nth-child(1) {
  top: 101px;
  left: -97px;
}

.menu__img:nth-child(2) {
  bottom: 67px;
  right: -97px;
}

.reviews {
  padding: 220px 0;
  background-color: #3A4574;
}

.reviews__quote {
  display: flex;
  flex-direction: column;
  width: 785px;
  text-align: center;
  margin: 0 auto;
}

.reviews__quotemark {
  width: 83px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 34px;
  background-image: url("../assets/img/quotes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews__title {
  margin-bottom: 20px;
  font-family: "PoppinsSemiBold";
  font-size: 36px;
  line-height: 40px;
  color: #D3B47F;
}

.reviews__desc {
  margin-bottom: 30px;
  line-height: 40px;
  color: #ffffff
}

.reviews__author {
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 6px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #D3B47F;
}

.promotion {
  padding-top: 109px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.promotion .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.promotion__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.promotion__content {
  position: relative;
  margin-right: 30px;
}

.promotion__content::after {
  position: absolute;
  content: "";
  top: 93px;
  left: -55px;
  width: 108px;
  height: 2px;
  background-color: #D3B47F;
}

.promotion__content.promotion__content-reverse {
  margin-left: 30px;
}

.promotion__title {
  margin-bottom: 23px;
  font-family: "PoppinsBold";
  font-size: 40px;
  line-height: 88px;
  color: #000000
}

.promotion__text {
  line-height: 32px;
  color: #808080;
}

.design {
  position: relative;
  height: 605px;
  margin-bottom: 370px;
  padding-top: 68px;
  background-color: #3a4574;
}

.design__title {
  margin-bottom: -5px;
  font-family: "PoppinsBold";
  font-size: 48px;
  line-height: 88px;
  color: #ffffff;
}

.design__text {
  width: 570px;
  padding-right: 80px;
  line-height: 32px;
  color: #ffffff;
}

.design__slider {
  top: 48px;
  left: 0;
}

.design .swiper-button-next,
.design .swiper-button-prev {
  top: 143px;
}

.design .swiper-button-next {
  right: 375px;
}

.design .swiper-button-prev {
left: 1395px;
}

.design__slider .swiper-slide {
  width: 969px !important;
}

.contacts {
  margin-bottom: 43px;
  background-color: #ffffff;
}

.contacts .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contacts__title {
  margin-bottom: 34px;
  font-family: "PoppinsBold";
  font-size: 48px;
  line-height: 88px;
  color: #000000;
}

.contacts__text {
  color: #2e2e2e;
}

.contacts__text.contacts__text--bold {
  font-family: "PoppinsMedium";
  font-size: 24px;
  color: #2e2e2e;
}

.contacts__text.contacts__text--questions {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

.contacts__wrapper {
  margin-right: 95px;
  padding-top: 35px;
}

.contacts__item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 80px;
}

.contacts__item:nth-child(3) {
  margin-bottom: 50px;
}

.contacts__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 64px;
  height: 64px;
  background-color: #D3B47F;
  border-radius: 50%;
}

.contacts__item::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 22px;
  width: 20px;
  height: 20px;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__item.contacts__item-phone::before {
  background-image: url("../assets/img/call-calling-contact.svg");
}

.contacts__item.contacts__item-email::before {
  background-image: url("../assets/img/email.svg");
}

.contacts__item.contacts__item-hours::before {
  background-image: url("../assets/img/hours.svg");
}

.contacts__item.contacts__item-map::before {
  background-image: url("../assets/img/map.svg");
}

.questions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27px;
}

.questions__wrapper .contacts__title {
  margin-bottom: 33px;
}

.contacts__form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contacts__form-field:last-child {
  margin-right: 0;
}

.contacts__form-field label {
  display: block;
}

.contacts__form-input {
  width: 320px;
  padding: 27px 16px;
  font: inherit;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid #cccccc;
}

.contacts__form-textarea {
  width: 670px;
  padding: 0 16px;
  padding-top: 32px;
  padding-bottom: 55px;
}

.btn__form {
  padding: 38px 104px;
  font-size: 24px;
}

.map .container {
  position: relative;
  width: 1170px;
  height: 547px;
  background-image: url("../assets/img/map.png");
  background-position: center;
  background-repeat: no-repeat;
}

.map__google {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 547px;
  border: none;
}

.footer {
  padding: 40px 0;
  background-color: #ffffff;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item.social__item--footer {
  border: 1px solid #000000;
}

.social__link.social__link--footer {
  color: #000000;
}

.social__link:hover.social__link--footer {
  color: #ffffff;
}

.social__list.social__list--footer {
  padding-bottom: 12px;
}

